.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  border-color: rgb(0, 0, 0);
  padding-right: 10px;
  align-items: center;
}
.logo {
  width: 100px;
}

.nav-bar > ul {
  display: flex;

  list-style-type: none;
}

.nav-bar > ul > li {
  margin-left: 10px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
  padding: 10px;
}

.restaurant-card {
  border: 1px solid red;
  width: 200px;
  height: 300px;
  padding: 10px;
  margin: 5px;
}

.restaurant-card:hover {
  background-color: rgb(229, 229, 229);
  cursor: pointer;
}

.restaurant-card > p {
  margin: 0;
}

.restaurant-image {
  width: 100%;
}

.filter-btn {
  border: 1px solid red;
  width: fit-content;
  padding: 2 10;
  margin: 5 0;
  cursor: pointer;
}

.filter-btn:hover{
  background-color: rgb(229, 229, 229);
}